.party-cards {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.basic-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.basic-element {
  padding: 20px;
  width: 100%
}

.card{
  margin: 3.33333%;
}
