<div style="text-align:center"><app-party-selection (selectedPartiesChange)="selectedParties = $event"></app-party-selection></div>
<app-timeline (yearRangeChange)="selectedYears = $event"></app-timeline>
<p style="margin-left: 10px" *ngIf="selectedYears">Aktuell sind die Jahre von {{selectedYears[0]}} bis {{selectedYears[1]}} ausgewählt.</p>

<div class="analyze-tabs">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#basics" role="tab"
         aria-controls="nav-home" aria-selected="true">Basics</a>
      <a class="nav-item nav-link" id="nav-factor-tab" data-toggle="tab" href="#factor-model" role="tab"
         aria-controls="nav-link" aria-selected="false">Five Factor Model</a>
      <a class="nav-item nav-link" id="nav-topic-tab" data-toggle="tab" href="#nav-topics" role="tab"
         aria-controls="nav-topics" aria-selected="false">Topics</a>
      <a class="nav-item nav-link" id="nav-geolocation-tab" data-toggle="tab" href="#nav-geolocation" role="tab"
         aria-controls="nav-geolocation" aria-selected="false">Geolocation</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <app-basics [selectedYears]="selectedYears" [selectedParties]="selectedParties"></app-basics>
    </div>
    <div class="tab-pane fade" id="nav-factor" role="tabpanel" aria-labelledby="nav-factor-tab"></div>
    <div class="tab-pane fade" id="nav-topics" role="tabpanel" aria-labelledby="nav-topics-tab"></div>
    <div class="tab-pane fade" id="nav-geolocation" role="tabpanel" aria-labelledby="nav-geolocation-tab"></div>
  </div>
</div>

<router-outlet></router-outlet>
